/* Footer */
.footer {
    padding: 3rem 2rem 3rem;
    background-color: var(--section-bg);
}

.footer .content-description,
.footer .map-icon,
.footer .location-text {
    color: var(--text-color-light);
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.footer .footer-content{
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer .logo-content {
    justify-content: center;
}

.footer .logo-content img {
    width: 20rem;
}

.footer .content-description,
.footer .location-text {
    font-size: var(--small-font);
}

.footer .map-icon {
    font-size: 3rem;
    margin-right: 1rem;
}

.footer-copyRight {
    max-width: 970px;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
    padding-top: 3rem;
    margin-top: 3rem;
    font-size: var(--small-font);
    border-top: 2px solid var(--text-color-light);
    color: rgba(255, 255, 255, 0.8);
}
.footer-copyRight span{
    cursor: pointer;
}
.footer-copyRight span:hover{
    color: var(--primary-color-hover);
    
}
.footer-copyRight a .bx{
    opacity: 1;
    pointer-events: all;
    font-size: var(--normal-font);
    padding: 0.5rem;
    background-color: var(--white-color);
    transition: var(--tran-0-3);
}
.footer-copyRight .media-icon a:hover{
    transform: translateY(-10%);
    color: var(--text-color);
}

@media screen and (max-width: 600px) {
    .footer .footer-container {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }
    
}